body, *{
  background-color: #f5f5f5;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

.app-container{
  font-family: sans-serif;
  max-width: 500px;
  min-height: 100vh;
  overflow: auto;
  padding: 0 ;
  margin: 0 auto;
  text-align: center;
}
.tasks{
  position: relative;
  padding: 30px;
}
.task{
  background-color: #fff;
  padding: 20px 12px;
  border-radius: 6px;
  margin: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-btn{
  position: relative;
  margin: 0;
  padding: 0;
}
.task .task-btn button{
  outline: none;
  background-color: #fff;
  border: none;
  /* padding: 0; */
  margin: 0;
  /*  */
}
.task .task-btn .delete-btn{
  color: red;
  cursor: pointer;
  background-color: #fff;
  margin-right: 6px;
}
h4{
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.styl{
  background-color: transparent;
}
.label{
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  background-color: inherit;
}
.label input{
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #0066ff;
}
.stl:checked .styl{
  text-decoration: line-through;
}
.stl input:checked ~ .checkmark{
  background-color: rgb(182, 178, 178);
  border: none;
}
.checkmark:after{
  content:'';
  position: absolute;
  display: none;
 }
 .stl input:checked ~ .checkmark:after{
  display: block;
 }
 /* .task */
 
  .stl .checkmark:after{
  top: 4px;
  left: 9px;
  width: 5px;
  height: 10px;
  /*background-color: #fff;*/
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
 }
.header{
  position: relative;
  font-size: 16px;
  padding: 30px;
}
.header .top-menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.top-menu button{
  border: none;
  outline: none;
}
.top-menu ul{
  position: relative;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.top-menu ul li{
  margin-left: 20px;
  padding: 0;
  font-size: 26px;
}
.header h1{
  margin: 0;
  padding: 0;
}
.categories{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.categories .business, .personal{
  position: relative;
  padding: 30px;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  align-items: center;
}
.app-container .btn{
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #0066ff;
  color: #fff;
  border-radius: 50%;
  padding:6px 12px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 3px 4px 12px #2196f3;
} 
.app-container .btn-form{
  padding: 10px 20px;
  border-radius: 18px;
  border: none;
  outline: none;
  background-color: #0066ff;
  color: #fff;
  font-size: 14px;

}

.form-input{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: tomato;
}
.form-input .cancel{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  background-color: inherit;
  padding: 10px;
}
.form-input .cancel:hover{
  border: 1px dashed #eee;
}
.form-input .buttons{
  width: 100%;
  text-align: left;
  padding-left: 10px;
  background-color: inherit;
}
.form-input .date{
  padding: 10px 20px;
  border-radius: 18px;
  border: none;
  outline: none;
  background-color: #0066ff;
  color: #fff;
  font-size: 14px;
  margin-right: 12px;
}
.text{
  padding: 12px;
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  font-size: 24px;
}
.form-btn{
  padding: 10px;
  /* border-radius: 50%; */
  border: none;
  outline: none;
  background-color: #fff;
  align-items: center;
  text-align: center;
}
.form-btn span{
  width: 15px;
  height: 15px;
  background-color: #0066ff;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #333;
 align-self: center;
}

.add-form{
  position: relative;
  width: 100%;
  background-color: tan;
  padding: 0 30px;
}
.add-form input{
  margin-bottom: 30px;
}
.menus{
  width: 100%;
  height: 240px;
  background-color: #0066ff;
}
